<%- include("../partials/header", {title : "Page de connexion", style: "auth"}) %>
<h1>Page de connexion</h1>
<form class="form" action="" method="post">
    <%- include("../components/input", {type: "email", name : "email:"}) %>
    <%- include("../components/input", {type: "password", name : "password:"}) %>
    <button type="submit">Connexion</button>
</form>
<%- include("../partials/footer") %>